.footer-container{
    padding: 5px;
}

.footer-text{
    color: #505050;
    font-size: 10.5px;
    text-align: center;
    line-height: 140%;
}

.linkTextColor{
    color: #505050;
    text-decoration: none;
}